.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid > label {
  margin: 0 .5em 1em;
  display: inline-block;
}

.grid > label > input {
  margin-left: .5em;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  float: left;
  min-height: calc(43px + 15px + 35px);
  box-sizing: border-box;
  width: 20%;
  padding: 5px;
}

.item--larger {
  width: 40%;
}

.item__image_container {
  overflow: hidden;
}

.item__image {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

.nsfw .item__image {
  filter: blur(10px) grayscale(50%);
  transition: filter 1s;
}

.item--larger.nsfw .item__image {
  filter: blur(20px) grayscale(50%);
}

.show-nsfw .item.nsfw .item__image,
.item.nsfw:hover .item__image {
  filter: none;
}

.item__source {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  padding-top: 35px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0, rgba(0, 0, 0, 0.35) 60%, transparent);
  text-shadow: 1px 1px #000;
}

.item__source img {
  flex: 0 0 auto;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
}

.item__source > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__source bdi {
  font-weight: bold;
  display: block;
}

.sizer {
  width: 20%;
  min-height: 1px;
}

@media screen and (max-width: 768px) {
  .item,
  .sizer {
    width: 25%;
  }

  .item--larger {
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  .item,
  .sizer {
    min-width: 100%;
  }
}

